{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    .image-container{
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        max-width: 800px;
        margin: 0 auto;
    }
    .card{
        max-width: 200px;
    }
    .card img{
        max-width: 200px;
        height: 200px;
        object-fit: cover;
        border: 1px solid black;
    }
    .heading{
        text-align: center;
        padding: 1rem;
        margin: 0;
    }
    .tag{
        font-size: .8rem;
        color: blueviolet;
    }
    .add-container{
        max-width: 200px;
        height: 200px;
        border: 1px solid black;
        display: grid;
        place-items: center;
    }
    
    a.add{
        color: brown;
        max-width: 200px;
        font-size: 4rem;
    }
</style>
{% endblock css %}

{% block content %}
<h1 class="heading">Image Gallery</h1>
<div class="image-container">
    
    {% for i in images %}
    <div class="card">
        <img src="{{i.file.url}}">
        <div class="cat">
            {{i.category|upper}}
        </div>
        <div class="tag">
            
            {% for tag in i.tags.all %}
            <span class="tag">{{tags}}</span>
            {% endfor %}
        </div>
        <div class="delete">
            <a href=""></a>
        </div>
    </div>
    {% endfor %}
    <div class="card">
        <div class="add-container">
            <a href="{% url 'upload_image' %}" class="add">+</a>
        </div>
    </div>
</div>

{% endblock content %}
